//- layout: title, block header, block body
//- header: optional: user.profile.displayName, link
//- this: user.nbrClicks.clicks
//- polls
extends ../../../common/views/layout
block header
  include ../../../common/views/header.pug

block body
  form.form-inline(action='' onsubmit="formHandler(this); return false")
    input.form-control#query(type='text',name="query",placeholder='Search') 
    input.form-control#author(type='text',name="author",placeholder='Author') 
    button.btn.btn-default#formSubmit(type='submit') Search
  div.row#results
    div.panel.panel-default
      div.panel-body
        div(style="display: table-row")
          img(style="display: table-cell" src = 'http://books.google.com/books/content?id=CdcT7h180S4C&printsec=frontcover&img=1&zoom=5&source=gbs_api')
          div(style="display: table-cell; vertical-align: top; padding-left: 10px") 
            h3(style="margin-top: 0px") The Fellowship of the Ring
            p by: J.R.R. Tolkein

  script(type="text/javascript", src="/js/ajax-functions.js")
  script(type="text/javascript", src="add.js")
