//- layout: title, block header, block body
//- header: optional: user.profile.displayName, link
//- this: user.nbrClicks.clicks
//- polls
extends ../../../common/views/layout
block header
  include ../../../common/views/header.pug

block body
  p hi from book