//- layout: title, block body
//- array pages = [ {title: ,link: }, ... ]
extends layout
block body
  h1= title
    small &nbsp;for freecodecamp
  ul
    each page in pages
      li
        a(href=page.link)= page.title
