//- layout: title, block header, block body
//- header: optional: user.profile.displayName, link
//- this: user.nbrClicks.clicks
//- polls
extends ../layout
block header
  include ../header.pug

block body
  p hi from book